---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const links = [
  { href: `/${lang}/`, label: t("nav.home"), aria: t("nav.home.aria") },
  { href: `/${lang}/blog`, label: t("nav.blog"), aria: t("nav.blog.aria") },
];
---

<nav class="flex items-center px-4 py-4 text-lg">
  <ul class="flex flex-1 flex-row gap-4">
    {
      links.map((link) => (
        <li>
          <a
            class="underline decoration-site-primary"
            href={link.href}
            aria-label={link.aria}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="">
    <LanguagePicker currentLang={lang} />
  </div>
</nav>
