---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
const urlLang = getLangFromUrl(Astro.url);
const t = useTranslations(urlLang);

const links = [
  {
    href: `/${urlLang}/`,
    label: t("nav.a.home.label"),
    aria: t("nav.a.home.aria"),
  },
  {
    href: `/${urlLang}/blog`,
    label: t("nav.a.blog.label"),
    aria: t("nav.a.blog.aria"),
  },
  {
    href: `/${urlLang}/projects`,
    label: t("nav.a.projects.label"),
    aria: t("nav.a.projects.aria"),
  },
];
---

<nav class="flex items-center px-4 py-4 text-lg">
  <ul class="flex flex-1 flex-row gap-4">
    {
      links.map((link) => (
        <li>
          <a
            class="underline decoration-site-primary"
            href={link.href}
            aria-label={link.aria}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="">
    <LanguagePicker currentLang={urlLang} />
  </div>
</nav>
